/* CSS Document */
@font-face {
	font-family:'digital';
	src: url('/public/fonts/digital-7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	background: url(/public/images/codeArmy/bg.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	height: 100%;
	font-family:'Ruda', sans-serif;
	font-size:10.08pt;
	color:#CCC;
}
a{text-decoration:none;color:#CCC;}
a:hover{color:white}
body{margin:auto; padding:0; text-align:center;}
.fancybox-skin{
	background:none;
}
#main-content {
	width: 765px;
	height: 877px;
	position: absolute;
	top: 170px;
	left: 190px;
	padding: 30px 20px;
	text-align: justify;
}
#left-menu a{display:block; padding:19px 0 16px 30px;}
#left-menu li{background:url(/public/images/codeArmy/profile/button.png) no-repeat;width:180px;height:52px;text-align:left; display:block;}
#left-menu li:hover{background:url(/public/images/codeArmy/profile/button-hover.png) no-repeat;}
#left-menu li.active{background:url(/public/images/codeArmy/profile/button-hover.png) no-repeat;text-shadow:0px 0px 2px #ffffff}
#mission-submenue li{background:url(/public/images/codeArmy/profile/missions/button.png) no-repeat;}
#mission-submenue li:hover{ background:url(/public/images/codeArmy/profile/missions/button-hover.png) no-repeat}
#mission-submenue li.active{ background:url(/public/images/codeArmy/profile/missions/button-hover.png) no-repeat}
#mission-submenue a{padding-left:45px;}
#left-block{position:absolute;width:180px; height:910px;top:195px;left:0px;}
.profile-header{position:relative}
#header-links li{list-style:none;display:block;text-transform: uppercase;}
#header-links #messages-holder{width:100px; margin:0 auto;padding-top:15px;}
#header-links #Messages{width:137px; height:43px;position:absolute;top:26px;left:215px;float:left; text-align:left;}
#header-links .notification{width:33px;height:20px;background:url(/public/images/codeArmy/profile/notification-bg.png) no-repeat;float:left; text-align:center; padding:4px 0;position:relative;top:-5px;}
#header-links #notifications-holder{width:135px; margin:0 auto;padding-top:15px;}
#header-links #Notifications{width:145px; height:43px;position:absolute;top:26px;left:378px;float:left;}
#header-links #mymissions-holder{width:120px; margin:0 auto;padding-top:15px;}
#header-links #MyMissions{width:145px; height:43px;position:absolute;top:26px;left:713px;float:left; text-align:left;}
#header-links #FindMissions{width:145px; height:43px;position:absolute;top:65px;left:544px;float:left; text-align:left;}
#header-links #findmission-holder{text-align:center; padding:13px;}
#header-links #avatar-holder{width:50px; height:45px;position:absolute;left:890px;top:25px;padding-left:15px; text-align:left}
#header-links #dropdown-button{width:22px; height:45px;position:absolute;left:960px;top:25px;cursor:pointer;}
#live-feed{position:absolute;top:127px;color:#03c7ff;width:747px;left:225px;}
#dropdown ul{margin-top:17px;display:block;}
#dropdown li{list-style:none; text-align:left;display:block;height:25px;}
#dropdown #logout{margin-top:15px;display:block}
#dropdown a{color:#ccc;}
#dropdown a:hover{color:white}
#dropdown{text-align:left; width:113px;height:142px;background:url(/public/images/codeArmy/profile/dropdown.png) no-repeat; z-index:2; position:absolute; top:65px; left:841px; padding:0px 37px;display:none;}
#logo{width:138px;height:80px;cursor:pointer;position:absolute;top:45px;left:22px;}
#profile-wrapper{
	background: url(/public/images/codeArmy/profile/bg.jpg) no-repeat;
	width:999px;
	position:relative;
	height:1116px;
	margin:0 auto;
}
#comming-soon{width: 500px; height:200px; margin:0 auto; padding:30px;background:black;line-height:34px;color:#ccc;display:none}
#comming-soon a{color:white;}
#comming-soon a:hover{color:white;}
#comming-soon .button{background: url(/public/images/codeArmy/btn.png) no-repeat;
width: 142px;
height: 34px;
display: block;
padding: 10px 0 0px 0;
margin:0 auto;}
#findmission-wrapper{
	background: url(/public/images/codeArmy/profile/missions/FindMissions.png) no-repeat;
	width:1000px;
	position:relative;
	height:966px;
	margin:0 auto;
}
#Recovery_MainContent{
	background:url(/public/images/codeArmy/recovery/bg.png) no-repeat;
	width:999px;
	height:637px;
	margin:0 auto;
	font-family:'Ruda', sans-serif;
	font-size:10.08pt;
	color:#CCC;
	padding-top:329px;
}
#Recovery_MainContent #dialog-holder{
	width:561px;
	height:275px;
	text-align:justify;
	margin:0 auto;
}
#Recovery_MainContent #dialog-holder input{
	width: 303px;
	position: absolute;
	top: 160px;
	left: 154px;
	color: #F90;
	border: none;
	height: 21px;	
	background:none;
	text-align:center;
}
#Recovery_MainContent #dialog-holder .content{
	position:relative;
}
#register-box{
	background:url(/public/images/codeArmy/signup/dialog-bg.jpg) no-repeat;
	width:561px;
	height:338px;
	display:none;
	font-family:'Ruda', sans-serif;
	font-size:10.08pt;
	color:white;
}
#register-box input[type=text],#register-box input[type=password]{
	border:none;background:none;height:22px; font-family:'Ruda', sans-serif;font-size:10.08pt;color:#CCC; padding:2px 5px 0 5px;
}
#login-content{
	width: 999px;
	height:967px;
	background:url(/public/images/codeArmy/login/bg.jpg) no-repeat;
}
#login-box{
	background:url(/public/images/codeArmy/login/login-bg.jpg) no-repeat;
	width:561px;
	height:278px;
	display:none;
	font-family:'Ruda', sans-serif;
	font-size:10.08pt;
	color:white;
}
#login-box input[type=text],#login-box input[type=password]{
	width:292px;border:none;background:none;height:22px; font-family:'Ruda', sans-serif;font-size:10.08pt;color:white; padding:2px 5px 0 5px;
}
#register-box{
	display:none;
	font-family:'Ruda', sans-serif;
	font-size:10.08pt;
	color:white;
}
#contact-form input{
	position: absolute;
	width: 313px;
	height: 22px;
	border: none;
	background: none;
	color:white; font-size:9pt; font-family:'Ruda', sans-serif;
}
#contact{
	background:url(/public/images/codeArmy/contactus/Contact_Us.jpg) no-repeat;
	width:776px;
	height:359px;
	margin:0 auto;
	display:none;
	color: #CCC;
}
#contact a{text-decoration:none; color:#ccc;}
.contact_details li {
display: block;
height: 22px;
width: 230px;
}
.contact_info {
position: absolute;
top: 50px;
left: 10px;
line-height: 18px;
}
.contact_details {
display: block;
position: absolute;
top: 90px;
}
#contact .social_links {
display: block;
position: absolute;
top: 167px;
left: 35px;
}
#contact .social_links li {
display: block;
height: 24px;
}
.dialog{
	background:url(/public/images/codeArmy/designer_test/modal-bg.png) no-repeat;
	width:1000px; height:623px;
	font-family:'Ruda', sans-serif;
	font-size:12pt;
	color:white;
	padding-top:168px;
	display:none;
}
.dialog .medal-message{
	padding-top: 20px;
	text-align: left;
	width: 450px;
	height: 160px;
	margin: 10px auto;
	padding:30px;
}
#Register_division_MainContent{
	background:url(/public/images/codeArmy/registration_division/main_content_bg.jpg) no-repeat;
	width:1000px;
	height:967px;
	margin:0 auto;
	display:none;
}
#Register_productowner_MainContent,
#Register_design_MainContent,
#Register_developer_MainContent,
#Register_copywriter_MainContent{
	background:url(/public/images/codeArmy/designer_test/main_content_bg.jpg) no-repeat;
	width:1000px;
	height:967px;
	margin:0 auto;
	display:none;
}
#Register_productowner_MainContent #po,
#Register_division_MainContent #po{
font-size: 12pt;
color: #bdbdbd;
/*text-shadow: 0px 2px 0px 
rgba(150, 150, 150, 0.8);*/
text-align: center;
position: absolute;
width: 1000px;
top: 570px;
font-weight: bold;
}
#Register_productowner_MainContent #po{top:605px;}
#Register_productowner_MainContent #po a,
#Register_division_MainContent #po a{
	text-decoration:underline;
	color:#bdbdbd;
}
#Register_division_MainContent #dialog{
	background:url(/public/images/codeArmy/registration_division/dialog.png) no-repeat;
	width: 815px;
	height:474px;
	margin:0 auto;
	position:relative;
	top: 180px;
	display:none;
	padding:35px 0 0 0;
}
#Register_division_MainContent #dialog p{
	font-family:'Ruda',sans-serif;
	font-size:12pt;
	color:#dbdbdb;
	line-height:28px;
}
#Register_productowner_MainContent #dialog-holder,
#Register_design_MainContent #dialog-holder,
#Register_developer_MainContent #dialog-holder,
#Register_copywriter_MainContent #dialog-holder{
	position:relative;
	top: 65px;
	margin:0 auto;
	width:791px;
}
#Register_design_MainContent #dialog{
	background:url(/public/images/codeArmy/designer_test/dialog.png) no-repeat;
	width: 769px;
	height:661px;
	margin:0 auto;
	display:none;
	position: absolute;
	top:60px;
} 
#Register_copywriter_MainContent #dialog{
	background:url(/public/images/codeArmy/copywriter_test/dialog.png) no-repeat;
	width: 779px;
	height:679px;
	margin:0 auto;
	display:none;
	position: absolute;
	top:60px;
} 
#Register_developer_MainContent #dialog{
	background:url(/public/images/codeArmy/developer_test/dialog.png) no-repeat;
	width: 775px;
	height:600px;
	margin:0 auto;
	display:none;
	position: absolute;
	top:60px;
}
#Register_productowner_MainContent #dialog{
	background:url(/public/images/codeArmy/productowner/dialog.png) no-repeat;
	width: 769px;
	height:455px;
	margin:0 auto;
	display:none;
	position: absolute;
	top:60px;
}
#Register_productowner_MainContent #dialog .title,
#Register_design_MainContent #dialog .title,
#Register_developer_MainContent #dialog .title,
#Register_copywriter_MainContent #dialog .title{
	font-family: 'Black Ops One', cursive;
	font-size:24pt;
	color:#86e144;
	text-align:center;
	margin-top:70px;
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	transform:scale(1,1.3);
	-webkit-transform: scale(1,1.3);
	-moz-transform: scale(1,1.3);
	-ms-transform: scale(1,1.3);
	-o-transform: scale(1,1.3);
}
#dialog .text p,
#dialog #terminal p{
	text-align:center;
	color:#cfcece;
	font-family: 'Ruda', sans-serif;
	font-size:11.52pt;
	margin:22px 0;
	line-height:20px;
}
#dialog #terminal p{ font-size:12.96pt; margin:54px 0 15px;}
#dialog #terminal input{ font-family:'Ruda', sans-serif; font-size:15.84pt; color:#ff9900; margin: 0 0 8px 0;background:url(/public/images/codeArmy/developer_test/terminal.png) no-repeat; width:445px; height:49px; text-align:center; border:none;}
#dialog #BlackBoard p{ font-family:"Courier New", Courier, monospace; font-size:14pt; color:#666;}
#dialog #BlackBoard textarea{ font-family:"Courier New", Courier, monospace; font-size:11pt; font-style:italic; background:none; width:540px; height:190px; margin:10px; color:#aaa; border:none; text-align:center; outline:none}
#Register_productowner_MainContent #dialog-title{
	background:url(/public/images/codeArmy/productowner/dialogTitle.png) no-repeat;
	width: 308px;
	height:101px;
	z-index:2;
	position:absolute;
	left: 237px;
}
#Register_design_MainContent #dialog-title{
	background:url(/public/images/codeArmy/designer_test/dialogTitle.png) no-repeat;
	width: 247px;
	height:100px;
	z-index:2;
	position:absolute;
	left: 272px;
}
#Register_developer_MainContent #dialog-title{
	background:url(/public/images/codeArmy/developer_test/dialogTitle.png) no-repeat;
	width: 247px;
	height:100px;
	z-index:2;
	position:absolute;
	left: 272px;
}
#Register_copywriter_MainContent #dialog-title{
	background:url(/public/images/codeArmy/copywriter_test/dialogTitle.png) no-repeat;
	width: 247px;
	height:100px;
	z-index:2;
	position:absolute;
	left: 272px;
}

#Register_division_MainContent #dialog .buttons{
	position: relative;
	top:35px;
	margin:0 auto;
	width: 500px;
	padding:2px;
}
#Register_productowner_MainContent #submit-holder #submit-button{
	background:url(/public/images/codeArmy/designer_test/submit.png) no-repeat;
	width:130px;
	height:50px;
	text-indent:-9000px;
	display:block;
}
#Register_design_MainContent #submit-holder #submit-button,
#Register_developer_MainContent #submit-holder #submit-button,
#Register_copywriter_MainContent #submit-holder #submit-button{
	background:url(/public/images/codeArmy/designer_test/submit.png) no-repeat;
	width:130px;
	height:50px;
	text-indent:-9000px;
	display:block;
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}
.CAbutton:hover{background:url(/public/images/codeArmy/button_hover.png) no-repeat;}
.CAbutton{
	background:url(/public/images/codeArmy/button.png) no-repeat;
	width:130px;
	border:none;
	height:50px;
	display:block;
	font-family: 'Ruda', sans-serif;
	font-size:10.8pt;
	text-align:center;
	display:block;
	padding:14px 0 0 0;
	margin:0 auto;
	cursor:pointer;
	text-decoration:none;
	color:white;
}
input.CAbutton{padding:0}
#submit-holder{width:130px;height:60px;}
#Register_design_MainContent #submit-holder{margin:-35px auto;}
#Register_developer_MainContent #submit-holder{margin:60px auto;}
#Register_copywriter_MainContent #submit-holder{margin:30px auto;}
#Register_productowner_MainContent #submit-holder{margin:30px auto;}
#Register_design_MainContent #submit-button:hover,
#Register_productowner_MainContent #submit-button:hover,
#Register_developer_MainContent #submit-button:hover,
#Register_copywriter_MainContent #submit-button:hover{
	background:url(/public/images/codeArmy/designer_test/submit_hover.png) no-repeat;
}
#Register_design_MainContent #timer,
#Register_developer_MainContent #timer,
#Register_copywriter_MainContent #timer{
	position:absolute;
	right:55px;
	color:#86e144;
	top:0;
	z-index:2;
	width:121px;
	height:80px;
	font-family: 'digital', arial;
	font-size:21.6pt;
	background:url(/public/images/codeArmy/designer_test/timer.png) no-repeat;
	padding:32px 0;
}
.division_button{
	/*background:url(/public/images/codeArmy/registration_division/division_button.png) no-repeat;*/
	width:152px;
	margin-right:10px;
	float:left;
	font-family: 'Ruda', sans-serif;
	font-size:12pt;
	text-align:center;
	padding:125px 0 8px 0;
	color:white;
	cursor:pointer;
	height:146px;
}
#designer_button{background:url(/public/images/codeArmy/registration_division/designer_button.png) no-repeat;}
#developer_button{background:url(/public/images/codeArmy/registration_division/developer_button.png) no-repeat;}
#copywriter_button{background:url(/public/images/codeArmy/registration_division/copywriter_button.png) no-repeat;}
#designer_button:hover{background:url(/public/images/codeArmy/registration_division/designer_button_hover.png) no-repeat;}
#developer_button:hover{background:url(/public/images/codeArmy/registration_division/developer_button_hover.png) no-repeat;}
#copywriter_button:hover{background:url(/public/images/codeArmy/registration_division/copywriter_button_hover.png) no-repeat;}

#brush{width:410px; margin:63px auto; height:218px;}
#sketch #canvas,#sketch2 #canvas2{
	/*-webkit-border-radius: 109px;
	-moz-border-radius: 109px;
	border-radius: 109px;*/
}
#brush #sketch2{
	width: 223px;
	height:191px;
	position: absolute;
	left:378px;
	display:none;
}
#brush #sketch{
	background:url(/public/images/codeArmy/designer_test/circle.png) no-repeat;
	width: 223px;
	height:191px;
	margin-left:35px;
	float:left;
	/*-webkit-border-radius: 109px;
	-moz-border-radius: 109px;
	border-radius: 109px;*/
}
.error{color:#C30; font-style:italic; display:none}
#brush ul{ width:150px; float:left;}
#brush ul li{cursor:pointer; float:left; color:white; text-indent:-9000px; margin:5px 0;}
.brush{ background:url(/public/images/codeArmy/designer_test/brush.png) no-repeat; width:144px; height:52px;}
.eraser{ background:url(/public/images/codeArmy/designer_test/eraser.png) no-repeat; width:144px; height:52px;}
.restart{ background:url(/public/images/codeArmy/designer_test/restart.png) no-repeat; width:144px; height:52px;}
.brush:hover{ background:url(/public/images/codeArmy/designer_test/brush_hover.png) no-repeat; width:144px; height:52px;}
.eraser:hover{ background:url(/public/images/codeArmy/designer_test/eraser_hover.png) no-repeat; width:144px; height:52px;}
.restart:hover{ background:url(/public/images/codeArmy/designer_test/restart_hover.png) no-repeat; width:144px; height:52px;}
.brush-sel{ background:url(/public/images/codeArmy/designer_test/brush_hover.png) no-repeat; width:144px; height:52px;}
.eraser-sel{ background:url(/public/images/codeArmy/designer_test/eraser_hover.png) no-repeat; width:144px; height:52px;}

.division_button:hover{background:url(/public/images/codeArmy/registration_division/division_button_hover.png) no-repeat;}
#footer{background:#000; width:1000px; margin:0 auto; color:white;font-family: 'Ruda', sans-serif; font-size:8.64pt; height:20px; padding-top:10px;}
#footer_links{ width:57%; float:left;}
#social-links{ width:13%; float:left; text-align:left; padding-left:10px;}
#footer_links li{ float:left; list-style-image:none; width:70px; list-style-type:none;}
#copywrite{ text-align:right; width:28%; float:left; margin-right:10px;}
#footer a{color:white;font-family: 'Ruda', sans-serif; font-size:8.64pt; text-decoration:none;}
#footer #twitter{display:block;cursor:pointer; width:16px; height:16px; background:url(/public/images/codeArmy/social.png) no-repeat;text-indent:-100000px;float:left}
#footer #facebook{display:block;cursor:pointer; width:16px; height:16px; background:url(/public/images/codeArmy/social.png) no-repeat -21px 0;text-indent:-100000px; float:left; margin-right:5px;}


/* BEGIN - New Codes by Reza */

#profile-content-area {
	width:765px;
	position:absolute;
}
#block-level, #block-avatar {
	position:absolute;
	float:left;
}
#block-level {
	text-align:right;
	width:284px;
}
#block-avatar {
	background:url(/public/images/codeArmy/profile/bg-main-avatar.jpg) no-repeat;
	height:450px;
	width:284px;
	margin-top:20px;
	box-shadow: 1px 2px 5px #000;
}
#profile-name {
	width:215px;
	height:30px;
	margin:15px 5px 3px 15px;
	font-size:24px;
	float:left;
}
#msg-icon {
	float:right;
	background:url(/public/images/codeArmy/profile/msg-icon.png) no-repeat;
	width:27px;
	height:17px;
	margin:22px 10px;

}
#profile-type {
	margin:0 10px 5px 18px;
}
#avatar-pic {
	height:280px;
	width:250px;
	margin:20px 20px 10px;
}
#profile-desc {
	margin:10px 15px;
}
#block-leaderboard {
	position:absolute;
	top:500px;
	left:0px;
	width:286px;
	height:263px;
	overflow:hidden;
}
.block-header h3 {
	font-size:12.96pt;
	color:white;
	font-family:'Ruda', sans-serif;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
	display:block;
	width:229px;
	height:33px;
	float:left;
	background:url(/public/images/codeArmy/profile/block-header-line.png) no-repeat;
}
.block-header a {
	color:#CCC;
	font-size:8.99pt;
	text-decoration:underline;
	display:block;
	height:33px;
	width:57px;
	float:left;
	text-align:right;
}
#block-experience {
	position:absolute;
	width:460px;
	float:right;
	right:5px;
}
#experience-header {
	float:left;
	width:350px;
	height:23px;
	background:url(/public/images/codeArmy/profile/exp-logo.png) no-repeat;
}
#experience-header h3 {
	padding: 6px 0 0 35px;
	font-size:11pt;
	color:white;
	font-family:'Ruda', sans-serif;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}
#edit-profile-link {
	float:right;
	width:80px;
	color:#ccc;
	text-decoration:underline;
	font-size: 8.99pt;
	padding-top: 8px;
}
#experience-bar {
	height:20px;
	width:450px;
	float:left;
	margin:10px 0 0 0;
	background:url(/public/images/codeArmy/profile/experience-bar-bg.png) no-repeat;
}
#bar-progress {
	background:url(/public/images/codeArmy/profile/experience-progress-bg.gif) repeat-x;
	width:100px;
	height:14px;
	margin:2px 0 0 2px;
	border-radius: 15px;
}
.block-mission-info {
	width:460px;
	margin-top: 95px;
	right:5px;
	float:right;
	position:absolute;
}
#mission-bid {
	width:224px;
	height:70px;
	float:left;
	background:url(/public/images/codeArmy/profile/bids-bg.png) no-repeat;
}
#mission-complete {
	width:224px;
	height:70px;
	float:right;
	background:url(/public/images/codeArmy/profile/bids-bg.png) no-repeat;
}
#mission-bid-text, #mission-complete-text {
	font-size:10.8pt;
	color:white;
	width:145px;
	height:30px;
	margin-top:20px;
	float:left;
	text-align:center;
	font-family:'Ruda', sans-serif;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}
#mission-bid-number, #mission-complete-number {
	width:75px;
	height:30px;
	margin-top:20px;
	font-size:22px;
	text-decoration:underline;
	text-align:center;
	float:right;
}

/* END - New Codes by Reza */
