body {
	margin:0;
	color:#fff;
	font:14px/17px Arial, Helvetica, Verdana, sans-serif;
	background:url(../images/bg-page.jpg);
	min-width:1140px;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#fff;
}
a:hover {text-decoration:underline;}
input{
	font:14px/16px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	margin:0;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:100%;
	background:url(../images/bg-header.png) no-repeat 50% 0;
	overflow:hidden;
}
@font-face {
	font-family:'DINLightAlternate';
	src: url('../fonts/din_lightalternate-webfont.eot');
	src: url('../fonts/din_lightalternate-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/din_lightalternate-webfont.woff') format('woff'),
		url('../fonts/din_lightalternate-webfont.ttf') format('truetype'),
		url('../fonts/din_lightalternate-webfont.svg#DINLightAlternate') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINRegular';
	src: url('../fonts/din-webfont.eot');
	src: url('../fonts/din-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/din-webfont.woff') format('woff'),
		url('../fonts/din-webfont.ttf') format('truetype'),
		url('../fonts/din-webfont.svg#DINRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINMediumAlternate';
	src: url('../fonts/din_mediumalternate-webfont.eot');
	src: url('../fonts/din_mediumalternate-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/din_mediumalternate-webfont.woff') format('woff'),
		url('../fonts/din_mediumalternate-webfont.ttf') format('truetype'),
		url('../fonts/din_mediumalternate-webfont.svg#DINMediumAlternate') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINBold';
	src: url('../fonts/din_bold-webfont.eot');
	src: url('../fonts/din_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/din_bold-webfont.woff') format('woff'),
		url('../fonts/din_bold-webfont.ttf') format('truetype'),
		url('../fonts/din_bold-webfont.svg#DINBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINMediumRegular';
	src: url('../fonts/din_medium-webfont.eot');
	src: url('../fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/din_medium-webfont.woff') format('woff'),
		url('../fonts/din_medium-webfont.ttf') format('truetype'),
		url('../fonts/din_medium-webfont.svg#DINMediumRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.alignleft{float:left;}
#nav{
	display:inline-block;
	padding:0 40px 0 0;
	background:url(../images/bg-nav.png) no-repeat 100% -47px;
	text-transform:uppercase;
	font:13px/15px 'DINMediumAlternate';
}
#nav ul{
	overflow:hidden;
	height:1%;
	padding:0 10px 0 50px;
	margin:0;
	background:url(../images/bg-nav.png) no-repeat;
	list-style:none;
}
#nav li{float:left;}
#nav a{
	padding:0 5px 0 0;
	float:left;
}
#nav .left{
	padding:16px 16px 17px 20px;
	float:left;
	cursor:pointer;
}
#nav a:hover,
#nav .active a{
	background:url(../images/nav-over.gif) no-repeat 100% 0;
	text-decoration:none;
}
#nav a:hover .left,
#nav .active .left{
	background:url(../images/nav-over.gif) no-repeat;
}
#header{
	width:1110px;
	padding-bottom:83px;
	margin:0 auto;
	text-align:center;
}
.home #header{padding-bottom:78px;}
*+ html .home #header{padding-bottom:63px;}
*+ html #header{padding-bottom:68px;}
.logo{
	width:228px;
	height:27px;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	margin:39px -228px 0 0;
	float:left;
}
.logo a{
	display:block;
	height:100%;
}
#main{
	width:1140px;
	margin:0 auto 10px;
	overflow:hidden;
	padding-top:30px;
}
#intro{
	height:1%;
	background:url(../images/bg-intro.png) no-repeat 50% 100%;
	padding:0 4px 56px 10px;
	margin-bottom:11px;
}
#intro:after{
	display:block;
	content:"";
	clear:both;
}
.calculate-block{
	float:left;
	width:516px;
	text-transform:uppercase;
	padding-top:3px;
}
.calculator{
	width:476px;
	height:69px;
	background:url(../images/bg-calculator.png) no-repeat;
	overflow:hidden;
	padding:21px 2px 8px 24px;
	margin:0 0 18px 7px;
}
.calculator span{
	float:left;
	width:38px;
	text-indent:-9999px;
	height:59px;
	overflow:hidden;
	margin-right:30px;
	background:url(../images/nums.png) no-repeat;
}
.calculator .num-1{background-position:-43px 0;}
.calculator .num-2{background-position:-92px 0;}
.calculator .num-3{background-position:-130px 0;}
.calculator .num-4{background-position:-168px 0;}
.calculator .num-5{background-position:-206px 0;}
.calculator .num-6{background-position:-244px 0;}
.calculator .num-7{background-position:-282px 0;}
.calculator .num-8{background-position:-322px 0;}
.calculator .num-9{background-position:-362px 0;}
.calculate-block .title{
	font:29px/31px 'DINMediumAlternate';
	display:block;
	text-align:center;
	margin-bottom:21px;
}
.buttons-holder{
	padding:0 0 41px 38px;
	font:21px/42px 'DINMediumRegular';
	position:relative;
	height:1%;
}
.buttons-holder:after{
	content:"";
	display:block;
	clear:both;
}
.btn-login,
.btn-register{
	font-size:19px;
	float:left;
	background:url(../images/buttons.png) no-repeat;
	text-align:center;
	width:200px;
	height:42px;
}
.btn-login:hover,
.btn-register:hover{text-decoration:none;}
.btn-login{
	width:168px;
	height:41px;
	margin-right:17px;
	background-position:0 -43px;
}
.or{
	float:left;
	margin:3px 14px 0 0;
}
.count-holder{
	overflow:hidden;
	font:12px/15px 'DINLightAlternate';
}
.total{
	float:left;
	background:url(../images/bg-count.png) no-repeat;
	width:204px;
	height:74px;
	text-align:center;
	overflow:hidden;
	margin-right:23px;
}
.total .number{
	font:54px/54px 'DINMediumAlternate';
	display:block;
	margin:-6px 0 7px;
}
.count-holder dl{
	float:left;
	margin:0 -8px 0 0;
	width:297px;
}
.count-holder dt{
	width:142px;
	text-align:right;
	height:34px;
	padding:0 7px 7px 0;
	float:left;
	background:url(../images/bg-count.png) no-repeat 0 -86px;
	margin:0 7px 0 0;
	font:25px/34px 'DINMediumRegular';
}
.count-holder dd{
	font-size:19px;
	line-height:19px;
	margin:6px 0 0;
	width:140px;
	float:left;
}
.leaderboard-block{
	width:582px;
	float:right;
	padding-bottom:100px;
	background:url(../images/bg-leaderboard-bottom.png) no-repeat 0 100%;
}
.tab-content .leaderboard-block{
	width:854px;
	padding-bottom:8px;
	background:url(../images/bg-leaderboard-tabset.png) no-repeat -1708px 100%;
}
*+ html .tab-content .leaderboard-block{margin-bottom:-8px;}
.leaderboard-block .holder{
	background:url(../images/bg-leaderboard-center.png) repeat-y;
	height:1%;
	padding:0 1px;
}
.tab-content .leaderboard-block .holder{
	background:url(../images/bg-leaderboard-tabset.png) no-repeat;
	padding:8px 0 0;
}
.tab-content .leaderboard-block .frame{
	background:url(../images/bg-leaderboard-tabset.png) repeat-y -854px 0;
	padding:0;
	height:1%;
}
.tab-content .leaderboard-block .content{
	margin:0;
	padding:5px 0 0 4px;
	width:618px;
}
.collaborators-box{
	float:right;
	width:231px;
	padding-top:8px;
	background:url(../images/bg-collaborators-box.png) no-repeat;
	margin:-8px 0;
}
.collaborators-box .collaborators-holder{
	padding-bottom:8px;
	background:url(../images/bg-collaborators-box.png) no-repeat -462px 100%;
}
.collaborators-box .collaborators-frame{
	overflow:hidden;
	padding:4px 23px 10px;
	height:1%;
	background:url(../images/bg-collaborators-box.png) repeat-y -231px 0;
}
.tab-content .leaderboard-block .frame:after,
.leaderboard-block .holder:after{
	display:block;
	clear:both;
	content:"";
}
.leaderboard-block .heading{
	background:url(../images/bg-leaderboard-heading.png) no-repeat;
	font:29px/34px 'DINMediumRegular';
	text-transform:uppercase;
	width:100%;
}
.leaderboard-block .heading .title{
	display:block;
	padding:13px 0 14px 52px;
	background:url(../images/ico-flag.png) no-repeat 8px 0;
	position:relative;
	z-index:2;
	height:1%;
	margin-bottom:-5px;
}
.leaderboard-block .content{
	margin:0 0 -89px;
	float:left;
}
.leaderboard-block ul{
	margin:0;
	padding:9px 10px 0 0;
	list-style:none;
	background:url(../images/bg-leaderboard-list.png) repeat-x;
	overflow:hidden;
}
.tab-content .leaderboard-block ul{
	background:none;
	color:#afafaf;
	margin-right:-15px;
	padding:7px 10px 0 0;
}
.tab-content .leaderboard-block .content ul{margin:0 -15px -4px 0;}
.tab-content .leaderboard-block ul a{color:#afafaf;}
.leaderboard-block ul li{
	float:left;
	width:168px;
	padding:0 0 9999px 17px;
	margin:0 0 -9999px;
	background:url(../images/leaderboard-divider.png) no-repeat;
}
.tab-content .leaderboard-block ul li:first-child,
.tab-content .leaderboard-block ul li{
	padding:0 0 0 16px;
	width:177px;
	margin:0 11px 0 0;
	background:none;
	border-left:1px solid #2c3948;
}
.tab-content .leaderboard-block ul li:first-child,
.tab-content .leaderboard-block ul ul li{border:0;}
.tab-content .leaderboard-block ul ul .active a,
.tab-content .leaderboard-block ul ul li:hover a,
.tab-content .leaderboard-block ul ul .active,
.tab-content .leaderboard-block ul ul li:hover{
	color:#fff;
	text-decoration:none;
}
.tab-content .leaderboard-block .name{
	float:left;
	width:80px;
	margin-right:3px;
}
.leaderboard-block ul .number{
	float:left;
	margin-right:7px;
}
.leaderboard-block .image-holder{
	padding:0 1px 3px;
	margin:-2px 8px 0 0;
	float:left;
}
.tab-content .leaderboard-block ul ul .active .image-holder,
.tab-content .leaderboard-block ul ul li:hover .image-holder{
	background:url(../images/bg-image-holder.png) no-repeat;
}
.leaderboard-block ul li:first-child{
	background:none;
	width:182px;
	padding-left:18px;
}
.leaderboard-block ul li:first-child .title{text-align:left;}
.leaderboard-block ol{
	margin:0;
	padding:0 0 35px 24px;
	list-style:none;
	font-family:'DINBold';
	color:#eadf34;
	counter-reset:item;
	overflow:hidden;
}
.leaderboard-block ol li{
	margin:0;
	padding:0 0 10px;
	background:none;
	float:none;
	border:0!important;
}
.leaderboard-block ol li:first-child{
	padding:0 0 10px;
	width:168px;
}
.leaderboard-block .info{overflow:hidden;}
.leaderboard-block ol li:after{
	display:block;
	clear:both;
	content:"";
}
.leaderboard-block .alignleft{margin-right:14px;}
.tab-content .leaderboard-block .alignleft{margin-right:0;} 
.leaderboard-block ol .name{
	color:#fff;
	display:block;
	font-size:17px;
	margin-bottom:2px;
	text-transform:uppercase;
}
.leaderboard-block ul .title{
	font:18px/21px 'DINRegular';
	display:block;
	color:#1df318;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:29px;
}
.tab-content .leaderboard-block ul .title{
	font-size:16px;
	margin:0 0 5px -5px;
	text-align:left;
}
.tab-content .leaderboard-block ul ul li:first-child,
.tab-content .leaderboard-block ul ul li{
	padding:0 0 13px;
	margin:0;
}
.leaderboard-block .row{
	overflow:hidden;
	height:1%;
	padding:0 14px 0 16px;
}
*+ html .leaderboard-block .row{padding-bottom:3px;}
.leaderboard-block .row .share-holder{float:left;}
.leaderboard-block .show{
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	margin-top:1px;
	width:164px;
	height:17px;
	background:url(../images/text-headings.png) no-repeat 0 -523px;
}
.leaderboard-block .show:hover{background-position:0 -506px;}
#content{padding:0 3px 0 0;}
#content h2{
	font:32px/33px 'DINMediumAlternate';
	margin:0 0 15px;
	text-transform:uppercase;
}
#content .main-info h2{
	display:block;
	font-size:35px;
	line-height:35px;
	margin-bottom:5px;
	width:270px;
}
.search-form{
	width:852px;
	margin:0 auto 58px;
	background:url(../images/bg-search-form.png) no-repeat;
	height:43px;
	overflow:hidden;
	font:25px/27px 'DINMediumAlternate';
	padding:12px 0 0 272px;
}
.search-form label{
	float:left;
	text-transform:uppercase;
	margin-right:9px;
}
.search-form .input-holder{
	width:319px;
	height:29px;
	padding:0 2px;
	background:url(../images/bg-input-holder.png) no-repeat;
	overflow:hidden;
	float:left;
}
.input-holder .text{
	width:290px;
	margin-right:2px;
	background:none;
	border:0;
	float:left;
	padding:7px 1px 5px;
}
.input-holder .submit{
	text-indent:-9999px;
	overflow:hidden;
	float:right;
	font-size:0;
	line-height:0;
	width:15px;
	height:20px;
	border:0;
	background:url(../images/btn-search.gif) no-repeat;
	margin:5px 6px 0 0;
	padding:0;
	cursor:pointer;
}
#content .columns{
	padding:0 0 0 5px;
	background:url(../images/bg-columns-bottom.png) repeat-y 5px 0;
	height:1%;
}
#content .columns:after{
	display:block;
	content:"";
	clear:both;
}
.columns .column{
	float:left;
	width:351px;
	margin:0 8px -9999px 0;
	padding:0 0 9999px;
	background:url(../images/bg-columns.png) no-repeat;
}
.columns .categories{
	width:316px;
	background-position:-359px 0;
}
.columns .stories{
	width:441px;
	margin-right:0;
	background-position:-683px 0;
}
.column h3{
	background:url(../images/bg-columns-top.png) no-repeat;
	font:20px/27px 'DINMediumAlternate';
	text-transform:uppercase;
	padding:8px 0 10px 21px;
	height:27px;
	overflow:hidden;
	margin:-44px 0 0;
	float:left;
	width:330px;
}
*+ html .column h3{margin-bottom:-45px;}
.categories h3{
	background-position:-359px 0;
	padding-left:30px;
	width:286px;
}
.stories h3{
	background-position:-683px 0;
	padding-left:28px;
	width:413px;
}
.column ul{
	margin:0;
	padding:0 0 96px 1px;
	list-style:none;
	font-size:17px;
	line-height:19px;
	position:relative;
}
*+ html .stories li{margin-bottom:-4px;}
.column ul a{
	display:block;
	color:#080808;
	padding:15px 18px 12px 23px;
	background:#c2c2c2 url(../images/bg-column-category.gif) repeat-x;
}
.column ul a:after{
	display:block;
	content:"";
	clear:both;
}
.column .price{
	float:right;
	cursor:pointer;
}
.categories ul a{padding:13px 18px 14px 26px;}
.stories ul a{padding:14px 16px 13px 24px;}
.column ul a:hover,
.column .active a{
	background:#3c565c;
	color:#fefefe;
	text-decoration:none;
}
.stories ul{padding:0 1px 96px 3px;}
.categories ul{padding-left:3px;}
.stories ul .story{
	float:left;
	width:330px;
	cursor:pointer;
}
#login{top:-15px;}
.popup{
	position:absolute;
	top:-11px;
	left:20px;
	width:471px;
	background:url(../images/bg-popup-top.png) no-repeat;
	padding-top:120px;
	overflow:hidden;
	font:20px/21px 'DINMediumAlternate';
	text-transform:none;
}
.popup-1{
	position:absolute;
	top:0;
	left:1px;
	background:#000 url(../images/bg-popup-1.gif) repeat-x;
	width:400px;
	padding:13px 13px 13px 26px;
	font-size:14px;
	margin:0;
}
.popup .holder{
	background:url(../images/bg-popup-bottom.png) no-repeat 0 100%;
	padding-bottom:141px;
}
.popup .frame{
	background:url(../images/bg-popup-center.png) repeat-y;
	width:100%;
}
.popup .frame:after{
	display:block;
	content:"";
	clear:both;
}
.popup .content{
	float:left;
	margin:-114px 0 -117px;
	width:100%;
}
#register .content{margin-bottom:-119px;}
.popup .heading{
	overflow:hidden;
	margin-bottom:38px;
	padding:0 14px 0 8px;
}
.popup-1 .heading{
	overflow:hidden;
	margin-bottom:12px;
}
.popup-1 .heading .title{
	font-size:16px;
	display:block;
}
.popup-1 .heading .holder{float:left;}
#register .heading{margin-bottom:35px;}
.popup .heading .title{
	float:left;
	font-size:27px;
	margin:0;
	padding:6px 56px 9px 14px;
	background: url(../images/bg-popup-title.png) no-repeat 100% 0;
	text-transform:uppercase;
}
#login .heading .title{padding:7px 102px 9px 22px;}
.popup-1 .close,
.popup .close{
	text-indent:-9999px;
	float:right;
	overflow:hidden;
	width:14px;
	background:url(../images/ico-close.gif) no-repeat;
	margin:8px 0 0;
	height:13px;
}
.popup-1 .close{
	padding:0;
	width:8px;
	height:9px;
	background-position:0 -16px;
	margin-top:6px;
}
.popup-1 .close:hover{background:url(../images/ico-close.gif) no-repeat 0 -16px;}
#register .close{margin-top:4px;}
.popup .row{
	padding-bottom:15px;
	width:100%;
}
.register-form .row{padding-bottom:13px;}
.popup .row:after{
	display:block;
	content:"";
	clear:both;
}
.popup label{
	float:left;
	width:95px;
	margin:4px 7px 0 0;
}
.register-form label{
	width:142px;
	margin:6px 9px 0 0;
} 
#register{font-size:16px;}
.popup .text{
	float:left;
	width:237px;
	padding:0 2px;
	height:32px;
	background: url(../images/bg-input-holder.png) no-repeat 0 -29px;
}
.popup .text input{
	background:none;
	border:0;
	width:233px;
	padding:9px 2px 5px;
	float:left;
}
.popup .forgot{
	font:16px/19px 'DINLightAlternate';
	float:left;
	text-decoration:underline;
	margin-top:4px;
}
.popup .forgot:hover{text-decoration:none;}
.popup .submit{
	background:url(../images/buttons.png) no-repeat 0 -85px;
	float:right;
	overflow:hidden;
	width:168px;
	height:41px;
	font-size:20px;
	line-height:41px;
	text-align:center;
	cursor:pointer;
	border:0;
	color:#fff;
	padding:0;
	margin:-3px 0 0;
	text-transform:uppercase;
}
.popup-1 a:hover{background:none;}
.popup-1 dl{
	margin:0 0 5px;
	overflow:hidden;
	width:377px;
}
.popup-1 dt{
	display:inline-block;
	width:220px;
	margin:0 -3px 0 0;
	background:url(../images/popup-separator.png) no-repeat 0 100%;
	padding:12px 0 9px;
}
.popup-1 dd{
	display:inline-block;
	width:156px;
	text-align:right;
	margin:0;
	padding:12px 0 9px;
	background:url(../images/popup-separator.png) no-repeat 100% 100%;
}
*+ html .popup-1 dd,
*+ html .popup-1 dt{
	display:inline;
	margin-right:0;
}
.popup-1 .summary{
	overflow:hidden;
	padding:0 24px 64px 0;
}
.popup-1 .summary .summary-text{float:right;}
.popup-1 .button-holder{
	overflow:hidden;
	padding-right:13px;
}
.task-holder .button,
.button-holder .button{
	float:right;
	background: url(../images/bg-button.png) no-repeat 100% -29px;
	font:16px/29px 'DINMediumAlternate';
	padding:0 14px 0 0;
	color:#000;
}
.task-holder .button{
	font-size:23px;
	padding-right:32px;
	line-height:49px;
	color:#fff;
	margin-top:12px;
	background-position:100% -117px;
	text-transform:uppercase;
}
.button .left{
	background: url(../images/bg-button.png) no-repeat;
	height:29px;
	float:right;
	cursor:pointer;
	padding:0 14px 0 28px;
}
.task-holder .button .left{
	background-position:0 -58px;
	height:59px;
	padding:0 9px 0 41px;
}
.button-holder .button:hover{
	text-decoration:none;
	background: url(../images/bg-button.png) no-repeat 100% -29px;
	color:#000;
}
.register-form .submit{margin-top:15px;}
.login-form{padding:0 65px 0 62px;}
.register-form{padding:0 40px 0 37px;}
.profile-heading{
	padding:0 1px 0 14px;
	background:url(../images/language-block-divider.png) repeat-y 370px 0;
	height:1%;
	margin-bottom:22px;
}
.profile-heading:after{
	display:block;
	content:"";
	clear:both;
}
.profile-heading .alignleft{margin:3px 15px 0 0;}
.points-box .alignleft{margin:0;}
.main-info{
	float:left;
	text-transform:uppercase;
	margin:-2px 15px 0 0;
}
.main-info .name{
	font-size:23px;
	line-height:25px;
	display:block;
	margin-bottom:4px;
}
.main-info .row{
	overflow:hidden;
	padding-left:2px;
	font:12px/15px 'DINRegular';
}
.main-info .sex{
	float:left;
	margin:3px 5px 0 0;
}
.main-info .specialization{
	float:left;
	padding-right:5px;
	line-height:21px;
	background:url(../images/bg-specialization.png) no-repeat 100% -20px;
}
.specialization .left{
	float:left;
	background:url(../images/bg-specialization.png) no-repeat;
	height:20px;
	padding:0 0 0 6px;
}
.language-info{
	float:left;
	padding:12px 0 0;
	width:450px;
}
.text-language{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	width:84px;
	height:16px;
	margin-bottom:10px;
	background:url(../images/text-headings.png) no-repeat 0 -200px;
}
.language-info dl{
	margin:0;
	overflow:hidden;
	padding-left:2px;
}
.language-info dt{
	float:left;
	width:93px;
	margin:1px 10px 0 0;
	font:14px/15px 'DINRegular';
	text-transform:uppercase;
}
.language-info dd{
	margin:0 0 5px;
	color:#afafaf;
	font-size:12px;
}
.points-box{
	float:right;
	width:165px;
	background:url(../images/bg-points-box.png) no-repeat;
	padding-top:15px;
	font:14px/15px 'DINMediumAlternate';
	text-transform:uppercase;
	color:#b2b2b2;
	margin:-30px 0 -17px;
	text-align:center;
}
.points-box .holder{
	background:url(../images/bg-points-box.png) no-repeat -330px 100%;
	padding-bottom:15px;
}
.points-box .frame{
	background:url(../images/bg-points-box.png) repeat-y -165px 0;
	padding:0 6px;
	height:1%;
}
.points-box .frame:after{
	display:block;
	content:"";
	clear:both;
}
.points-box .content{
	float:left;
	margin:-15px 0 -8px;
	width:100%;
}
.points-box .points-left{
	font-size:16px;
	color:#fff;
	line-height:17px;
	display:block;
	margin-bottom:7px;
}
.points-box .text-holder{
	width:100px;
	float:right;
	padding:10px 0 0;
}
.left-number{
	overflow:hidden;
	color:#FFF;
	font: 27px Arial, Helvetica, Verdana, sans-serif;
	display:block;
	width:100px;
	height:41px;
	margin-bottom:4px;
}
.earned-number{font:22px/27px 'DINRegular';}
.points-box .earned{display:block;}
.tabs-area{
	overflow:hidden;
	padding:0 0 0 10px;
}
.tabs-area .aside{
	float:left;
	padding-top:18px;
	width:242px;
}
.refers{
	margin:0 0 7px;
	overflow:hidden;
	width:223px;
}
.refers dt{
	display:inline-block;
	width:136px;
	vertical-align:top;
	margin:3px 0 0;
	padding-right:10px;
}
.refers dd{
	display:inline-block;
	width:73px;
	text-align:right;
	vertical-align:top;
	margin:0 0 17px;
	font-size:12px;
	line-height:13px;
	color:#afafaf;
}
.refers dd .box{
	display:block;
	font-size:16px;
	line-height:21px;
	width:68px;
	padding:4px 6px 2px 0;
	background:url(../images/bg-count.png) no-repeat 0 -133px;
	color:#fff;
	height:21px;
	overflow:hidden;
}
.refers dt span{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	height:22px;
	width:123px;
	background:url(../images/text-headings.png) no-repeat;
}
.refers dt .text-spent{background-position:0 -22px;}
.refers dt .text-saved{background-position:0 -44px;}
*+ html .refers dd,
*+ html .refers dt{
	display:inline;
}
*+ html .refers dt{padding-right:13px;}
.refers .hours{
	display:block;
	margin:5px 2px -12px 0;
	position:relative;
}
.tabset{
	margin:0;
	padding:0;
	list-style:none;
	width:243px;
	overflow:hidden;
}
.tabset li:first-child{background:none;}
.tabset li{
	background:url(../images/divider-tabset.gif) no-repeat 1px 0;
	overflow:hidden;
}
*+ html .tabset li{margin-bottom:-3px;}
.tabset a{
	display:block;
	background:url(../images/arrow-tabset.png) no-repeat 209px 17px;
	padding:0 0 4px;
}
.tabset a .top{
	display:block;
	padding:17px 5px 9px 30px;
}
.tabset a:hover,
.tabset .active{background:url(../images/bg-tab-over-bottom.png) no-repeat 0 100%;}
.tabset a:hover .top,
.tabset .active .top{background:url(../images/bg-tab-over-top.png) no-repeat;}
.tabset a span span{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:92px;
	height:20px;
	background:url(../images/text-headings.png) no-repeat 0 -66px;
}
.tabset a .text-achievements{
	background-position:0 -85px;
	width:126px;
}
.tabset a .text-inbox{
	background-position:0 -104px;
	width:53px;
}
.tabset a .text-mydesk{
	background-position:0 -123px;
	width:71px;
}
.tabset a .text-history{
	background-position:0 -142px;
	width:71px;
}
.tabset a .text-leaderboard{
	background-position:0 -161px;
	width:122px;
}
.tabset a .text-personal{
	background-position:0 -180px;
	width:131px;
}
.tab-content{
	width:885px;
	float:right;
	background:url(../images/bg-tab-content.png) no-repeat;
	padding-top:10px;
}
.tab-holder{
	background:url(../images/bg-tab-content.png) no-repeat -1770px 100%;
	padding-bottom:10px;
}
.tab-frame{
	background:url(../images/bg-tab-content.png) repeat-y -885px 0;
	padding:15px 14px 12px 17px;
	overflow:hidden;
	height:1%;
}
*+ html .tab-frame{padding-bottom:0;}
.tab-content .content{
	overflow:hidden;
	padding:0 15px 0 0;
	margin-bottom:20px;
}
.task-block{
	float:left;
	width:571px;
}
.skills-box{
	background:url(../images/bg-skills-box.png) no-repeat;
	padding-top:9px;
	margin-bottom:12px;
}
.skills-box .holder{
	background:url(../images/bg-skills-box.png) no-repeat -1142px 100%;
	padding-bottom:9px;
}
.skills-box .frame{
	background:url(../images/bg-skills-box.png) repeat-y -571px 0;
	padding:18px 13px 9px;
	overflow:hidden;
}
.skills-box dl{
	margin:0 10px 0 0;
	float:left;
	width:179px;
	font-size:12px;
	line-height:13px;
}
.skills-box dt{
	float:left;
	width:150px;
	padding-bottom:9px;
}
.skills-box dd{
	margin:6px 0 8px;
	float:right;
	text-align:right;
}
.skills-box dt span{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	height:24px;
	width:142px;
	background:url(../images/text-headings.png) no-repeat 0 -263px;
}
.skills-box dt .text-css{
	width:44px;
	background-position:0 -286px;
}
.skills-box dt .text-javascript{
	width:117px;
	background-position:0 -307px;
}
.skills-box dt .text-mysql{
	width:69px;
	background-position:0 -329px;
}
.skills-box dt .text-php{
	width:46px;
	background-position:0 -351px;
}
.skills-box dt .text-leadership{
	width:123px;
	background-position:0 -373px;
}
.skills-box dt .text-teamwork{
	width:114px;
	background-position:0 -395px;
}
.skills-points{
	float:left;
	padding:2px 0 0;
}
.skills-points img{display:block;}
.achievements-block{
	float:right;
	width:246px;
	padding-top:24px;
	text-align:center;
}
.level-block{
	margin:0 0 46px;
	text-transform:uppercase;
}
.level-box{
	width:170px;
	height:133px;
	background:url(../images/bg-level.png) no-repeat;
	font-size:14px;
	padding:38px 0 0;
	margin:0 auto 7px;
}
.level-block span{display:block;}
.level-block .level{line-height:14px;}
.level-box .number{
	font-size:58px;
	line-height:59px;
}
.level-block .title{
	display:block;
	font:12px/13px 'DINMediumAlternate';
	padding:0 0 0 29px;
	margin:0 0 0 55px;
	background:url(../images/ico-star.png) no-repeat 0 2px;
	text-align:left;
}
.level-block .title .tier{
	font-size:20px;
	line-height:21px;
	margin:0 0 4px -2px;
	display:block;
}
.achievement-holder h3{
	margin:0 0 -2px;
	text-align:left;
}
.achievement-holder h3 a{display:block;}
.achievement-holder .text-recent{
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	width:228px;
	height:23px;
	background:url(../images/text-headings.png) no-repeat 0 -462px;
}
.achievement-holder h3 a img{
	display:block;
	margin:0 auto;
}
.achievement-holder{padding:0 5px 0 0;}
.achievement-holder .title{
	font-size:17px;
	display:block;
	color:#e0ec25;
	margin-bottom:4px;
}
.task-holder{
	background:url(../images/vertical-divider.png) repeat-y 100% 0;
	padding:0 0 16px 5px;
}
.last-task{
	background:url(../images/vertical-divider.png) repeat-y 305px 0;
	overflow:hidden;
	padding:15px 32px 26px 9px;
}
.last-task .holder{float:left;}
.currently-task{
	background:url(../images/horizontal-divider.png) repeat-x;
	padding:19px 0 0 10px;
}
.task-holder h3 span{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	height:22px;
	background:url(../images/text-headings.png) no-repeat 0 -540px;
	width:232px;
}
.task-holder h3{margin:0 0 19px;}
.task-holder h3 .text-currently{
	width:254px;
	background-position:0 -484px;
}
.task-holder ul{
	margin:0;
	padding:0 0 0 1px;
	list-style:none;
	overflow:hidden;
	font-size:16px;
	color:#b0b0b0;
}
.task-holder li{
	float:left;
	padding:0 68px 0 22px;
	background:url(../images/bullet.png) no-repeat 0 3px;
}
.task-holder .title{color:#fff;}
.task-holder .mark{color:#a3f20c;}
.task-holder .title a{
	color:#82d1e5;
	text-decoration:underline;
}
.task-holder .title a:hover{text-decoration:none;}
.currently-task ul{
	margin:0 -28px 0 0;
	padding:0;
	width:566px;
}
.leaderboard-block h3{margin:0 0 5px;}
.leaderboard-block .content h3{margin-left:8px;}
.collaborators-box h3{margin-bottom:19px;}
.leaderboard-block h3 span{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	height:20px;
	background:url(../images/text-headings.png) no-repeat 0 -419px;
	width:139px;
}
.leaderboard-block h3 .text-collaborators{
	background-position:0 -440px;
	width:161px;
	margin:0 auto;
}
.leaderboard-block .collaborators-box ul{
	padding:0 0 0 17px;
}
.leaderboard-block .collaborators-box ul li:first-child,
.leaderboard-block .collaborators-box ul li{
	padding:0 13px 13px 0;
	margin:0;
	border:0;
	width:auto;
}
#footer{
	margin:0 -112px 0 -113px;
	font:13px/13px 'DINMediumAlternate';
	color:#fefefe;
	text-align:center;
}
.footer-holder{
	width:1365px;
	background:url(../images/bg-footer.png) no-repeat 35% 100%;
    margin:0 auto;
    padding:77px 112px 16px 113px;
}
#footer .add-nav{
	margin:0;
	padding:0 0 3px;
	list-style:none;
	display:inline-block;
	overflow:hidden;
}
.add-nav li:first-child{background:none;}
.add-nav li{
	float:left;
	padding:7px 17px 7px 18px;
	background: url(../images/divider-footer.gif) no-repeat 0 3px;
}
#footer a{color:#fefefe;}
#footer p{margin:0;}
.leaderboard-block ol .num,
.leaderboard-block ol li:before{
	float:left;
	width:24px;
	margin:10px 0 0 -24px;
	color:#f0f0f1;
	content:counters(item, ".") " ";
	counter-increment:item;
	font:16px/18px 'DINLightAlternate';
}