#modalDiv{ position:absolute; top:0; left:0; background-color:black; z-index:10; margin:0; padding:0; width:0; height:0; -moz-opacity:.60; filter:alpha(opacity=60); opacity:.60;}

.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto 0;
	text-align: left;
}
.footer { position:fixed;z-index: 100;
	width: 100%;
	margin: 0 auto;height: 170px;
	background:#000; bottom:0}
.footer a {
	color: #fff;
	text-decoration: underline;
	border: 0;
}

.footer .footer-holder {
	width: 1000px; margin: -5px auto 0 auto; /* width:1365px; z-index: 10;*/	
}

.footer .add-nav {
	display: block;
    list-style: none outside none;
    margin: 0 auto 0 -20px;
    padding: 5px; float:left;
}

.footer .add-nav li:first-child {
	background:none;
}

.footer .add-nav li {
	float: left;
padding: 3px 17px 3px 18px;
font-size: 0.8em;
border-right: 1px solid rgba(255, 255, 255, 0.3);
height: 18px;
}

.footer a {
	color:#fefefe; text-decoration:none;
}

.footer a:hover, .active a {
	text-decoration:none;
}

.footer p {padding: 10px;padding: 8px 0 0 0;
	color: #fff; font-size:0.8em;
	text-align: right;
	display: block;
    margin: 0 auto;
  float:right;
}

.page{display:none}

/*-------------------------*/
/*ramin section-----*/
.star-on {
background: url(/public/images/star.png) 16px;
width: 16px;
height: 16px;
display: block;
float: left;
margin-right: 6px;
}

.star {
background: url(/public/images/star.png);
width: 16px;
height: 16px;
display: block;
float: left;
margin-right: 6px;
}


/*-------------------------*/
/*nasrul section-----*/
#registerbox{
	width:488px;
	height:343px;
	background:url(../../images/registerbg.png) no-repeat transparent;
	padding-left:200px;
	padding-top:95px;
	position:relative;
}
#registerbox .close{
	position:absolute;
	width:21px;
	height:21px;
	display:block;
	top:38px;
	right:50px;
}

#registerbox .row{
	width:auto;
}

.row #name, .row #email, .row #password2, .row #password3 {
    border: 0 none;
    float: left;
    padding: 5px;
    width: 410px;
	font-size:16px;
	line-height:30px;
	height:23px;
	margin-bottom:19px;
}
.reg-submit {
    margin: 10px 55px 0 0;
}

.hint{
	z-index:2000;
	display:none;
	position:absolute;
	width:350px;
	height:200px;
}

.dialog-container h3{
	color:#09C;
	font-size:30px;
}

.dialog-container{
	width:350px;
	height:200px;
	color:#666;
}

.dialog-container .dialog-close{
	color:#333;
	float:right;
	position:relative;
	top:-15px;
	left:10px;
}

.dialog-container .left-column{
	width:40px;
	float:left;
}
.dialog-container .right-column{
	width:260px;
	font-size: 100%;
	font-family: 'DINRegular',Arial;
	float:left;
	position:relative;
	top:-17px;
	margin-left:5px;
}

.dialog-hint{
	font-size:11px;
	color:#999;
	margin-top:10px;
}

.alert{
	background:url(../images/alertbox1.png);
	display:none;
	width:600px;
	height:173px;
	position:absolute;
	z-index:3000;
}

.alert-content{
	color: #000;
	padding: 20px 20px;
}

.alert-content .left-column{
	width:140px;
	float:left;
}
.alert-content .right-column{
	width:410px;
	float:left;
}
.alert-content h3{
	color:#333;
	font-size:24px;
	margin-bottom: 20px;
}